@model Category
@using DAL.EntityModel;

<form id="myForm">
    <div id="AddCategoryForm">
        @Html.LabelFor(m => m.CategoryName)
        @Html.TextBoxFor(m => m.CategoryName)
        @Html.ValidationMessageFor(m=>m.CategoryName,"CategoryName is required.", new { @class = "text-danger" })
    </div>
</form>